.menu {
    width: 100%;
    z-index: 3;
    display: inline-flex;
    position: absolute;
    padding: 0;

    &__icon {
        margin: .5rem 1rem;
        width: 30px;
        height: 30px;
        background-image: url('/images/amberrose.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__link {
        padding: 1rem;
    }

    &__right {
        position: absolute;
        right: 0;
        display: inline-flex;
    }
}

.title {
    z-index: 3;
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 1.2rem;
}

.category {
    z-index: 3;
    position: fixed;
    left: 0;
    bottom: 30%;

    &__item {
        padding: .5rem;
        transition: all ease .5s;

        &:hover {
            transform: translate(15px) scale(1.3);
        }
    }
}

.line {
    width: 3px;
    height: 25px;
    background: $white;
}

.featured {
    position: relative;
    width: 100vw;
    height: 100vh;

    &__wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 10;
        width: 40%;
        height: 40%;
        pointer-events: none;
    }

    &__image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: 10px solid $white;
        opacity: 1;
        transition: all 1s ease;
    }
}

.collection {
    width: 100vw;
    height: 100vh;
    background: $white;
    display: none;
    
    &__view {
        position: absolute;
        bottom: 20%;
        right: 20%;
        color: $white;
    }
}

.contact {
    background: $black;
}
