.menu {
    width: 100%;
    z-index: 3;
    display: inline-flex;
    position: absolute;
    padding: 0;

    &__icon {
        margin: .5rem 1rem;
        width: 30px;
        height: 30px;
        background-image: url('/images/amberrose.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__link {
        padding: 1rem;
    }

    &__right {
        position: absolute;
        right: 0;
        display: inline-flex;
    }
}

.title {
    z-index: 3;
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 1.2rem;
    transition: all ease .5s;
}

.category {
    z-index: 3;
    position: fixed;
    left: 0;
    bottom: 30%;
    transition: all ease .5s;

    &__item {
        padding: .5rem;
        transition: all ease .5s;

        &:hover {
            transform: translate(15px) scale(1.3);
        }
    }
}

.line {
    width: 3px;
    height: 25px;
    background: $white;
}

.social {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    display: inline-block;
    z-index: 3;
    transition: all ease .5s;

    &__link {
        color: $white;
        font-size: 1.5em;
        padding-left: 1rem;
    }
}

.featured {
    position: relative;
    width: 100vw;
    height: 100vh;

    &__wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 40%;
        height: 40%;
        pointer-events: none;
    }

    &__image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: 10px solid $white;
        opacity: 1;
        transition: all 1s ease;
    }
}

.collection {
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background: $white;
    // display: none;
    transform: translate(-100%);
    transition: all ease 1s;

    &__view {
        position: absolute;
        bottom: 20%;
        right: 20%;
        color: $white;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        color: $black;
        z-index: 2
    }

    &__slider {
        width: 100%;
        height: 100%;

        &--slide {
            width: 100%;
            // height: 80%;
        }
    }
}

.about {
    padding: 2rem;
    text-align: center;

    &__image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-image: url('/images/amber.JPG');
        background-position: center;
        background-size: cover;
        display: inline-block;
    }

    &__description {
        display: inline-block;
        text-transform: none;
    }
}

.contact {
    background: $black;
    color: $white;

    &__email {
        // position: absolute;
        padding: 1rem;
        // left: 0;
    }
}
