// Fonts
@import url('https://fonts.googleapis.com/css?family=Armata');

// General
.ember-application {
    font-family: 'Armata', sans-serif;
    text-transform: lowercase;
}

// Colors
$black: #000;
$white: #fff;

// Elements
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $white;

    &:hover {
        color: $white;
    }
}
