<ul class="menu">
    <li class="menu__icon"><a href="#">Amber Rose Crotteau Photography</a></li>
    <div class="menu__right">
        <li class="menu__link"><a href="#">About</a></li>
        <li class="menu__link"><a href="#">Contact</a></li>
    </div>
</ul>

{{outlet}}

{{#fullpage-js}}

    <div id="fullpage">
    	<div class="section">Some section</div>
    	<div class="section">Some section</div>
    	<div class="section">Some section</div>
    	<div class="section">Some section</div>
    </div>

{{/fullpage-js}}
