<div class="menu">
    <h1 class="header">Amber Rose Crotteau</h1>
</div>

{{outlet}}

{{#fullpage-js}}

    <div id="fullpage">
    	<div class="section">Some section</div>
    	<div class="section">Some section</div>
    	<div class="section">Some section</div>
    	<div class="section">Some section</div>
    </div>

{{/fullpage-js}}
